.spendings-container {
    display: flex;
}

.spendings-content {
    flex: 1;
    padding: 2rem;
    background-color: rgb(73, 85, 87);
    border-radius: 1rem;
    border: 3px solid rgba(255, 255, 255, 0.199);
    margin: 2.2rem;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.spendings-content-title {
    text-align: center;
}

.chart-wrapper {
    margin-top: 2rem;
    height: 300px;
}

.pie-chart-inline-container {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    gap: 3rem; /* Space between chart and legend (adjust as needed) */
    margin-top: 5rem;
}

/* .pie-chart-wrapper {
    margin-top: 3rem;
    margin-left: 5rem;
    width: 50%;          
    max-width: 300px;     
}

.pie-chart-info-wrapper {
    flex: 1;           
    color: whitesmoke;
    margin-left: 5rem; 
} */

.pie-chart-wrapper,
.pie-chart-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
