  .menu {
      width: 9vw;
      background-color: rgb(73, 85, 87);
      color: white;
      padding: 20px;
  }

  .menu-header {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 5rem;
  }

  #settings {
      text-align: center;
      position: fixed;
      bottom: 1rem;
      width: 7.5vw;
  }

  #myAccount {
      text-align: center;
      position: fixed;
      bottom: 3.5rem;
      width: 7.5vw;
  }

  #myAccount:after {
      display: none;
  }

  #settings:after {
      display: none;
  }

  .menu-list {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .menu-item {
      position: relative;
      /* Set position to relative */
      margin-bottom: 1rem;
      cursor: pointer;
      font-size: 1.2rem;
      padding: 0 1rem 0 1rem;
  }

  .menu-item:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      transition: background-color 0.3s ease;
  }

  .menu-item::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1rem;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
      transform: translateY(-50%);
  }

  .content {
      flex: 1;
      padding: 1rem;
  }

  .main-container {
      display: flex;
      height: 100vh;
      width: 100%;
  }

  .default-content {
      display: flex;
      flex-wrap: wrap;
  }

  .total-balance, .monthly-spendings {
      flex: 1 1 50%;
      height: 47vh;
  }

  .recent-transactions {
      flex: 100%;
      height: 47vh;
  }

  .total-balance {
      text-align: center;
  }

  .monthly-spendings {
      text-align: center;
  }

  .recent-transactions {
      text-align: center;
  }

  #balance-animation-h1 {
      font-size: 3rem;
      color: whitesmoke;
  }

  #total-balance-h1 {
      margin-top: 3rem;
      font-size: 2.5rem;
      color: whitesmoke;
  }

  .total-balance-content, .monthly-spendings-content {
      background-color: rgb(73, 85, 87);
      border-radius: 1rem;
      border: 3px solid rgba(255, 255, 255, 0.199);
      margin: 1vw;
      height: 90%;
      width: 95%;
  }

  .recent-transactions-content {
      background-color: rgb(73, 85, 87);
      ;
      border-radius: 1rem;
      border: 3px solid rgba(255, 255, 255, 0.199);
      margin: 1vw;
      height: 90%;
      width: 97.5%;
  }

  .coins-image {
      width: 10rem;
      opacity: 0;
      /* Start with 0 opacity */
      animation: fadeIn 2s ease-in forwards;
      /* Apply the fadeIn animation */
  }

  @keyframes fadeIn {
      from {
          opacity: 0;
          /* Start with 0 opacity */
      }

      to {
          opacity: 1;
          /* End with full opacity */
      }
  }

  .monthly-spendings-h1 {
      margin-top: 3rem;
      font-size: 2.5rem;
      color: whitesmoke;
  }

  #monthly-spendings-h2 {
      margin-top: -1rem;
      font-size: 1.5rem;
      color: whitesmoke;
  }

  #monthly-spendings-value {
      margin-top: 5rem;
      font-size: 3rem;
  }