.main-container {
    display: flex;
    height: 100vh;
  }
  
  .menu {
    width: 8vw;
    background-color: rgb(73, 85, 87);
    color: white;
    padding: 20px;
  }
  
  .menu-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  #settings{
    position: fixed;
    bottom: 1rem;
    width: 6vw;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 1rem 0 1rem;
  }
  
  .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  h1 {
    color: rgb(42, 128, 150);
  }