.transactions-container {
    display: flex;        
    gap: 20px;           
}

.menu {
    min-width: 150px;     
}

.transactions {
    flex: 1;               
    width: 100%;

}

.transactions .recent-transactions-content {
    height: 90vh;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    padding: 8px 12px;
    margin: 0 2rem;
    background-color: rgb(108, 127, 131);; 
    color: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease, border-color 0.2s ease; 
}

.pagination-button:hover {
    background-color: #e0e0e0;
    border-color: #999; 
}

.pagination-button:disabled {
    background-color: #f7f7f7;
    color: #bbb; 
    border: 1px solid #ddd; 
    cursor: not-allowed;
}

.pagination-info {
    font-size: 1rem;
    color: white;
}
