.head1 {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-weight: 100;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
  }
  
  .head2 { 
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-weight: 100;
    margin-top: 0rem;
  }
  
  .container {
    position: relative;
    width: 30%;
  }
  
  .image { 
    border-radius: 2rem;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  .cursor {
    display: inline-block;
    vertical-align: bottom;
    width: 0.6em;
    height: 1em;
    background-color: #fff;
    animation: blink 1s infinite;
  }
  
  .cursor-stale {
    display: inline-block;
    vertical-align: bottom;
    width: 0.6em;
    height: 1em;
    background-color: #fff;
  }

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  
  .text {
    background-color: rgb(42, 128, 150); 
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 1rem;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }